<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.devisab.DEVISAB"
        versionCode="10" 
        version   = "0.1.0">

    <!-- versionCode is optional and Android only -->
	<preference name="phonegap-version" value="2.9.0" />
	<icon src="icons/ldpi.png" gap:platform="android" gap:density="ldpi" /><!-- Este icono es de 36x36 px -->
	<icon src="icons/mdpi.png" gap:platform="android" gap:density="mdpi" /><!-- Este icono es de 48x48 px -->
	<icon src="icons/hdpi.png" gap:platform="android" gap:density="hdpi" /><!-- Este icono es de 72x72 px -->
	<icon src="icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" /><!-- Este icono es de 96x96 px -->
	
	<preference name="splash-screen-duration" value="10000"/>
	<gap:splash src="splash/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	
    <name>DEVISAB</name>

    <description>
        Concesionaria del Desarrollo Vial de la Sabana 
    </description>

    <author href="Joaquin Torres Ruiz" email="Joslip_18@hotmail.com">
        Joaquin Torres Ruiz
    </author>

</widget>