<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.devisab.DEVISAB"
        versionCode="13" 
        version   = "0.1.3">

    <!-- versionCode is optional and Android only -->
    <preference name="BackupWebStorage" value="none" />
    <preference name="target-device" value="universal" />
    <preference name="deployment-target" value="6.0" />
	<preference name="phonegap-version" value="3.1.0" />
	<icon src="icons/ldpi.png" gap:platform="android" gap:density="ldpi" /><!-- Este icono es de 36x36 px -->
	<icon src="icons/mdpi.png" gap:platform="android" gap:density="mdpi" /><!-- Este icono es de 48x48 px -->
	<icon src="icons/hdpi.png" gap:platform="android" gap:density="hdpi" /><!-- Este icono es de 72x72 px -->
	<icon src="icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" /><!-- Este icono es de 96x96 px -->
	
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />

	<gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="splash/ios/Default-568h_at_2x.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
    <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />
	
	<preference name="splash-screen-duration" value="10000"/>
	<gap:splash src="splash/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <gap:plugin name="org.apache.cordova.device" />
	
    <name>DEVISAB</name>

    <description>
        Concesionaria del Desarrollo Vial de la Sabana 
    </description>

    <author href="Joaquin Torres Ruiz" email="Joslip_18@hotmail.com">
        Joaquin Torres Ruiz
    </author>
    <preference name="BackupWebStorage" value="none" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-targetSdkVersion" value="14" />

    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>


    <access origin="*" /> 
    
</widget>